  * {
  color: white;
}

body{
  background-color: #3b3b4f;
  margin: 0px;
 font-family: Helvetica, Arial, sans-serif;
}

#navbar{
  position: fixed;
  height: 4rem;
  width: 100%;
  border-bottom: 3px solid 	#000035;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 5px;
  background-color: #1B1B32;
}

.top a{
  background-color: #1B1B32;
  transition: all 0.25s ease-out;
}

.top:hover a{
  font-size: 30px;
  background-color: #1B1B32;
  cursor: pointer;
  transition: all 0.25s ease-in;
  padding: 0.75rem;
}

.main_header {
  padding: 10rem;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  height: 8rem;
  font-size: 25px;
  background-image: url(4.jpeg);
  border-bottom: 3px solid 	#000035;
  background-repeat: no-repeat;
  background-size: 1500px;
}

.main_text {
  background: none;
  text-shadow: 2px 2px 4px #000000;
}

.p_header {
  align-items: center;
  text-align: center;
  letter-spacing: 1.5px;
  padding-top: 0.5rem;
  text-decoration-line: underline;
}

.p_text {
  text-indent: 2rem;
  align-items: center;
  text-align: center;
  padding-left: 15rem;
  padding-right: 15rem;
  line-height: 1.8;
}

.image {
  display: block;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border-radius: 18px;
}
